@model List<Ratings>


<div class="container">
	<div class="row">
		<div class="col-6">
			<h2>List of Rartings</h2>
		</div>
		<div class="col-6">
			<a class="btn btn-primary float-end" asp-action="Add">Add a Ratings</a>
		</div>
	</div>

</div>


<div class="container">
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
			@* 	<th>Logo URL</th> *@
				<th>logo</th>
				<th>Action</th>
			</tr>

		</thead>
		<tbody>
			@foreach (var item in Model)
				{
					<tr>
						<td>@item.RatingsId</td>
						<td>@item.Name</td>
						<td>@item.Description</td>
					@* 	<td>@item.RatingsLogo</td> *@

						<td>
						
							<img src="@item.RatingsLogo" alt="Product Image" class="rating-image" />
						
								
						</td>
						<td>
							<form method="post">
							<div class="btn-group gap-2">
								<a asp-controller="Ratings" asp-action="Edit" asp-route-id="@item.RatingsId" class="btn btn-outline-info">Edit</a>
								<button type="submit" asp-controller="Ratings" asp-action="Delete" asp-route-id="@item.RatingsId" class="btn btn-outline-info">Delete</button>
							</div>
						</form>
						</td>

					</tr>

				}
		
		</tbody>

	</table>

</div>


